[Unit]
Description=QMI Auto Connection
After=network.target

[Service]
ExecStart=/bin/sh /home/pi/Ubiquo/qmi/qmi_reconnect.sh
WorkingDirectory=/home/pi/Ubiquo/qmi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
