[Unit]
Description=QMI Auto Connection
After=network.target

[Service]
User=root
ExecStart=/bin/bash /home/pi/Ubiquo/LTE/qmi/qmi_connect.sh
WorkingDirectory=/home/pi/Ubiquo/LTE/qmi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
